<section class="list-item">
    {% for item in items %}
        <div class="item">

            {% if item.logo %}
                <div class="logo">
                    <img class="img-responsive" src="{{ item.logo }}">
                </div>
            {% endif %}

            {% if item.title %}
                <div class="title">
                    <a href="/items/{{ item.id }}">
                        {{ item.title }}
                    </a>
                </div>
            {% endif %}

        </div>
    {% endfor %}
</section>

<section class="pagination">
    <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
        <h4 id="pagination-heading" class="visually-hidden">{{ 'Pagination'|t }}</h4>
        <ul class="pager__items js-pager__items">

            <li class="pager__item pager__item--first">
                <a href="{{ url('<front>')  }}item/1" title="{{ 'Go to first page'|t }}">
                    <span class="">{{ 'First page'|t }}</span>
                </a>
            </li>


            {% for i in 1..pages_number %}
                <li class="pager__item {% if current_page == loop.index %}is-active{% endif %} ">
                    <a href="{{ url('<front>')  }}items/{{ loop.index }}">{{ loop.index }}</a>
                </li>
            {% endfor %}

            <li class="pager__item pager__item--last">
                <a href="{{ url('<front>')  }}items/{{ pages_number }}" title="{{ 'Go to last page'|t }}">
                    <span class="">{{ 'Last page'|t }}</span>
                </a>
            </li>

        </ul>
    </nav>
</section>
